In [ ]:
name = "Himanshu Agarwal"
Course = "Data Analytics"
Assignmnet = "Data Types & Structures"
Email = "erhimanshuagarwal79@gmail.com"

#THEORY QUESTIONS

1.What are data structures, and why are they important?

 - Data structures are ways of organizing, storing, and managing data so that it can be used efficiently. Think of them as containers or blueprints that help store data in a specific format depending on the need.

 # Data Structures are important because:-
  
  - Efficiency:
Different structures provide faster ways to perform operations like searching, sorting, inserting, and deleting data.

  - Problem Solving:
Many algorithms (like graph traversal or tree balancing) are based on the properties of data structures.

  - Memory Management:
Choosing the right structure helps use memory more efficiently.

  - Reusability:
Well-implemented data structures can be reused in various applications.

  - Real-World Modeling:
Structures like graphs (social networks), trees (file systems), and queues (task scheduling) model real-world scenarios directly.

2. Explain the difference between mutable and immutable data types with examples.

#MUTUBLE DATA TYPES
  - We can change their contents without changing the identity (memory address) of the object.

Examples:
list, dict, set, bytearray

#Immutable Data Types
  - You cannot change their contents after creation. Any change creates a new object.

Examples:
int,float,bool,str,tuple,frozenset,bytes

In [ ]:
# Example (List - Mutable):

my_list = [1, 2, 3]

my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [ ]:
# Example (String - Immutable):
t = (1,2,3,4,5,6)
t[0]= 101

TypeError: 'tuple' object does not support item assignment

3. What are the main differences between lists and tuples in Python?
  
  - The main differences between lists and tuples in Python center around their mutability and associated characteristics:

#Mutability:
#This is the most significant difference.
  - Lists are mutable: Their elements can be added, removed, or modified after the list has been created.
  - Tuples are immutable: Once a tuple is created, its elements cannot be changed, added, or removed.
#Syntax:
  - Lists are defined using square brackets: [item1, item2, ...]
  - Tuples are defined using parentheses: (item1, item2, ...) (parentheses are optional for single-element tuples or when used in assignment, but recommended for clarity).
#Performance and Memory:
  - Tuples are generally faster and more memory-efficient than lists because their size is fixed and Python doesn't need to allocate extra memory for potential future modifications.
  - Lists, being mutable, require more overhead for dynamic resizing and modifications.
#Use Cases:
  - Lists: are suitable for collections of items that may change over time, such as a shopping cart or a list of user inputs.
  - Tuples: are ideal for fixed collections of related data, such as coordinates (x, y) or database records, where the data should not be altered after creation. They are also commonly used as dictionary keys because of their immutability.
#Methods:
  - Lists offer a wider range of built-in methods for manipulation (e.g., append(), remove(), sort()).
  - Tuples have fewer methods, primarily count() and index(), reflecting their immutable nature.

4. Describe how dictionaries store data.

  - A dictionary in Python is an unordered, mutable, and indexed collection used to store key-value pairs.

In [ ]:
my_dict = {
    "name": "Himanshu Agarwal",
    "age": 28,
    "city": "Delhi"
}

print(my_dict)

{'name': 'Himanshu Agarwal', 'age': 28, 'city': 'Delhi'}

5. Why might you use a set instead of a list in Python?

  - Because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.

  - Duplicate elements are not allowed or need to be automatically removed.
  - Fast membership testing is a priority.
  - Mathematical set operations are required.
  - The order of elements is not relevant.

6. What is a string in Python, and how is it different from a list.

  - A string in Python is a sequence of characters enclosed in single quotes (' '), double quotes (" "), or triple quotes (''' ''' / """ """).
  - A string is an immutable sequence of characters, while a list is a mutable sequence of items.

In [ ]:
# String example
my_string = "hello"
my_string[1]= "a"
my_string

TypeError: 'str' object does not support item assignment

In [ ]:
# List example
my_list = ['h', 'e', 'l', 'l', 'o']
my_list[-4]="a"
my_list

['h', 'a', 'l', 'l', 'o']

7. How do tuples ensure data integrity in Python?

  - Tuples in Python ensure data integrity primarily through their immutability. This characteristic means that once a tuple is created, its elements cannot be changed, added, or removed.

8. What is a hash table, and how does it relate to dictionaries in Python?

  - A hash table is a data structure that stores key-value pairs and allows fast access to values using keys. It uses a process called hashing to compute an index (a location in memory) where the value is stored.

  - Python dictionaries are implemented using hash tables. A hash table is a data structure that stores key-value pairs and allows for efficient retrieval, insertion, and deletion of these pairs.

9. Can lists contain different data types in Python?

  - Yes, because python lists are flexible and can store multiple data types in the same list. This is one of the strengths of Python as a dynamically typed language.

# Example:

my_list = [42, "hello", 3.14, True, [1, 2, 3], {"key": "value"}]
This list contains:

   - An integer (42)
   - A string ("hello")
   - A float (3.14)
   - A boolean (True)
   - Another list ([1, 2, 3])
   - A dictionary ({"key": "value"})

10.  Explain why strings are immutable in Python.

   - Strings are immutable in Python, meaning their elements cannot be changed after they are created. Any operation that appears to modify a string actually results in the creation of a new string object with the desired changes, while the original string remains untouched in memory.

11. What advantages do dictionaries offer over lists for certain tasks?

  - Dictionaries (dict) and lists (list) are both powerful data structures, but dictionaries offer specific advantages when dealing with key-value pair data or when fast lookup is needed.

 1. Fast Lookups (O(1) Time Complexity)
Dictionaries allow direct access to values using keys — no need to loop.

Lists require searching by index or iterating over items.

# Dictionary (fast)
person = {"name": "Himanshu", "age": 28}
print(person["age"])  # Output: 28

# List (slower, less clear)
person_list = ["Himanshu", 28]
print(person_list[1])  # Output: 28 — but less readable

 2. Key-Value Pairing for Meaningful Data
- Dictionaries store data with named keys, making code more readable and meaningful.

In lists, positions (indexes) must be remembered.

student = {"name": "Raj", "marks": 87}

# Easier to understand than: ["Raj", 87]

 3. Dynamic and Flexible Access
With dictionaries, you can add, remove, or update values based on a key directly.

In lists, you must know the index or loop through the items.

student["class"] = "10th"  # Easy to add
del student["marks"]       # Easy to remove

 4. Avoiding Duplicates in Keys
Keys in a dictionary are unique, which automatically prevents duplicates.

Lists can have duplicate elements, which may cause confusion in some tasks.

data = {"id": 101, "id": 102}  # The second one replaces the first

 5. Better for Structured or Labeled Data
Use dictionaries when data has labels or named attributes:

product = {
    "id": 123,
    "name": "Laptop",
    "price": 45000,
    "in_stock": True
}

12. Describe a scenario where using a tuple would be preferable over a list?

  - A tuple is preferable over a list in scenarios where data should not be changed after creation — i.e., when immutability is important. Here's a scenario to illustrate:

# Scenario: Storing GPS Coordinates
-Imagine we are building a GPS tracking application. Each location is represented by latitude and longitude values.

# we use tuple here because of the following reasons:
- Immutability: GPS coordinates for a recorded location should not be accidentally changed. Using a tuple helps enforce that.

- Hashable: Tuples can be used as dictionary keys or in sets, unlike lists.

- Performance: Tuples have a slightly faster performance due to their fixed size.

In [53]:
#Example for using a tuple
location = (28.6139, 77.2090)  # Coordinates for New Delhi
location[0]=12.458

#so here in this example i was trying to make a coordinates for new delhi and if i used the lists in place of tuple so the value of index will get chnaged as ishowed in example and due to which the coordinates will be created for some other place in place of delhi. That's why we prefer using tuple to avoid such kind of errors in secure data.

TypeError: 'tuple' object does not support item assignment

13. How do sets handle duplicate values in python?

  - In Python, sets automatically eliminate duplicate values. A set is an unordered collection of unique elements, so when you add duplicate items, only one copy is kept.

In [54]:
# Example

my_set={1,2,1,2,14,2,5,3,1,3,8,6,7,5,8,}
my_set

{1, 2, 3, 5, 6, 7, 8, 14}

14. How does the "in' keyword works differently for lists and dictionaries?

  - The "in" operation for the dictionary tests on keys. The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list.

In [55]:
# Example for question no.14
#In Lists;

fruits = ['apple', 'banana', 'cherry']
print('banana' in fruits)

True

In [56]:
# In dictionaries;
person = {'name': 'Himanshu', 'age': 28}
print('name' in person)
print('Himanshu' in person)

True
False

15. Can you modify the elements of a tuple? Explain why or why not?

  - Once we create a tuple then its elements cannot be changed/modified, added or removed.

In [57]:
#Example for question no.15
my_tuple = (102, 201, 301)
my_tuple[0] = 101

TypeError: 'tuple' object does not support item assignment

16. What is anested dictionary, and give a example of its use case?

  - A nested dictionary is a dictionary inside another dictionary. It's useful for representing hierarchical or structured data — like records within records.

In [18]:
# use case example of question no.16
contacts = {
    "Ajay": {"phone": "9876543210", "email": "ajay@example.com"},
    "Himanshu": {"phone": "9123456780", "email": "himanshu@example.com"},
    "Chandan": {"phone": "9012345678", "email": "chandan@example.com"}
}
print(contacts["Ajay"]["phone"])
contacts["Himanshu"]["email"] = "himanshu_new@example.com"
del contacts["Chandan"]

9876543210

In [19]:
contacts["Dev"] = {"phone": "9998887776", "email": "dev@example.com"}
contacts

{'Ajay': {'phone': '9876543210', 'email': 'ajay@example.com'},
 'Himanshu': {'phone': '9123456780', 'email': 'himanshu_new@example.com'},
 'Dev': {'phone': '9998887776', 'email': 'dev@example.com'}}

17. Describe the time complexity of accessing elements in a dictionary.

  - Accessing elements in a dictionary (also known as a hash map or associative array) typically has a time complexity of O(1) on average, which means it takes constant time regardless of the dictionary's size. This is because dictionaries use a hash table internally to store and retrieve data, and hash table lookups are generally very fast.

In [34]:
table = "\toperation\tAverageCase\tWorstcase\nAccess(dict[Key])   \tO(1)    \tO(n)\ninsert/update   \tO(1)    \tO(n)\ndelete          \tO(1)         \tO(n)"
table
print(table)

	operation	AverageCase	Worstcase
Access(dict[Key])   	O(1)    	O(n)
insert/update   	O(1)    	O(n)
delete          	O(1)         	O(n)

In [35]:
contacts = {"Ajay": "9876543210", "Himanshu": "9123456780"}
print(contacts["Ajay"])

9876543210

18. In what situations are lists preferred over dictionaries?

  - Lists and dictionaries serve different purposes. A list is an ordered collection of values, while a dictionary maps keys to values. We should prefer lists over dictionaries in following cases:

In [41]:
# i. Order Matters
"""
Lists preserve insertion order and allow indexed access.
Use a list when you need to maintain the sequence of elements
"""
colors = ["red", "green", "blue"]
print(colors[0])  # Access by position → "red"

red

In [43]:
# ii. Simple Collections of Items
"""
When you only need to store a sequence of values (e.g., names, numbers, etc.)
without associating them with unique keys.
"""
scores = [85, 90, 78, 92]
scores

[85, 90, 78, 92]

In [46]:
# iii. Duplicate Values Are Allowed
#Lists can contain duplicates — dictionaries cannot have duplicate keys.

names = ["Ajay", "Binchu", "Ajay"]  # Allowed in a list
names

['Ajay', 'Binchu', 'Ajay']

In [47]:
# iv. Indexed Access Required
"""
Lists allow direct access via numeric indexes (list[0], list[1], etc.),
which is not possible with dictionaries.
"""
fruits = ["apple", "banana", "cherry"]
print(fruits[1])  # "banana"

banana

In [51]:
# v. When Data Has No Unique Identifier
#If there's no meaningful key for the values, a dictionary doesn’t make sense.

temperatures = [21.5, 22.0, 20.8]  # Just values, no keys needed
print(temperatures)

[21.5, 22.0, 20.8]

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

  - Dictionary is a data structure which is a important value structure, optimized for fast storage and recovery based on key. In python, dictionaries are un-ordered because Python dictionaries are not intended to be in order, as simple as that.

  - Dictionaries affect data retrieval positively because they are designed for fast access using keys, not positions.
# Key Impacts on Data Retrieval:
- Fast Lookup by Key
- No index based access
- Key must be known
- Unordered Nature Affects Predictability
- Efficient Membership Testing

In [58]:
# 20. Explain the differnece between the lists and the dictionaries in terms of data retrieval?
 # Difference Between Lists and Dictionaries in Terms of Data Retrieval
"""
Feature	                     List	                  Dictionary
Access Method	        By index (position)	            By key
Syntax	                     list[0]                dict["key"]
Search Time	          O(n) (linear search)  	O(1) average (hash table lookup)
Ordering	            Ordered	Conceptually           unordered
Key Requirement	           Not required             	Required
Supports Indexing	             Yes	            No (only key-based)
"""

'\nFeature\t                     List\t                  Dictionary\nAccess Method\t        By index (position)\t            By key\nSyntax\t                     list[0]                dict["key"]\nSearch Time\t          O(n) (linear search)  \tO(1) average (hash table lookup)\nOrdering\t            Ordered\tConceptually           unordered \nKey Requirement\t           Not required             \tRequired\nSupports Indexing\t             Yes\t            No (only key-based)\n'

#PRACTICAL QUESTIONS

In [132]:
# 1. Write a code to create a string with your name and print it.
my_name= "Himanshu Aggarwal"
print(my_name)

Himanshu Aggarwal

In [133]:
# 2. Write a code to find the length of the string "Hello Worldl".
string = "Hello World"
len(string)

11

In [134]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
str="python Programming"
print(str[0:3])

pyt

In [135]:
# 4. Write a code to convert the string "hello" to uppercase.
str = "hello"
str.upper()

'HELLO'

In [136]:
# 5. Write a code to replace the word "apple" with "orange" in the string "i like apple".
str = "i like apple"
str.replace("apple", "orange")

'i like orange'

In [137]:
# 6. Write a code to create the list with numbers 1 to 5 and print it.
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [138]:
# 7. Write a code to append the number 10 to the list [1,2,3,4].
my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [139]:
# 8. Write a code to remove the number 3 from the list [1,2,3,4,5].
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [140]:
# 9. Write a code to access the second element in the list['a','b','c','d'].
my_list = ['a','b','c','d']
print(my_list[1])

b

In [141]:
# 10. Write a code to reverse the list [10,20,30,40,50].
list = [10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [142]:
# 11. Write a code to create a tuple with the elements 100,200,300 and print it.
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

In [143]:
# 12. Write a code to access the second-to-last element of the tuple('red','green','blue','yellow').
my_tuple = ('red','green','blue','yellow')
print(my_tuple[1:])

('green', 'blue', 'yellow')

In [144]:
my_tuple = ('red','green','blue','yellow')
print(my_tuple[-1])

yellow

In [145]:
# 13. write a code to find the minimun number in the tuple (10,20,5,15).
my_tuple = (10,20,5,15)
min(my_tuple)

5

In [146]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog','cat','rabbit').
my_tuple = ('dog','cat','rabbit')
my_tuple.index('cat')

1

In [147]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "kiwi")
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is NOT in the tuple.")

Kiwi is in the tuple.

In [148]:
fruits = ("apple", "banana", "Mango")
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is NOT in the tuple.")

Kiwi is NOT in the tuple.

In [149]:
# 16. Write a code to create a set with the elements 'a','b','c' and print it.
my_set = {'a','b','c'}
print(my_set)

{'a', 'c', 'b'}

In [150]:
# 17. Write a code to clear all the elements from the set {1,2,3,4,5}.
my_set = {1,2,3,4,5}
my_set.clear()
print(my_set)

set()

In [151]:
# 18. Write a code to remove the element 4 from the set {1,2,3,4}.
my_set = {1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [152]:
# 19. Write a code to find the union of two sets {1,2,3} and {2,3,4}.
set1 = {1,2,3}
set2 = {2,3,4}
set1.union(set2)

{1, 2, 3, 4}

In [153]:
# 20. Write a code to find the intersection of two sets {1,2,3} and {2,3,4}.
set1 = {1,2,3}
set2 = {2,3,4}
set1.intersection(set2)

{2, 3}

In [154]:
# 21. Write a code to create a dictionary with the keys"name", "age" and "city", and print it.
my_dict = {
    "name": "Himanshu Agarwal",
    "age": 28,
    "city": "Delhi"
}

print(my_dict)

{'name': 'Himanshu Agarwal', 'age': 28, 'city': 'Delhi'}

In [155]:
# 22. Write a code to add a new key-value pair "country":"USA" to the dictionary {'name':'John','age':25}.
my_dict = {'name':'John','age':25}
my_dict["country"]="USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [156]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name':'Alice', 'age':30}.
my_dict = {'name':'Alice', 'age':30}
print(my_dict["name"])

Alice

In [157]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [158]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [159]:
# 26.  Write a code to create a list, a tuple, and a dictionary, and print them all.
# Creating a list
my_list = [10, 20, 30, 40]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'Himanshu', 'age': 28, 'city': 'New Delhi'}

# Printing them all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [10, 20, 30, 40]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Himanshu', 'age': 28, 'city': 'New Delhi'}

In [160]:
# 27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()  # Sort the list in ascending order
print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [34, 37, 37, 82, 91]

In [161]:
# 28. Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[3])

date

In [162]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [163]:
# 30. Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
my_set = set(my_list)
print(my_set)

{'date', 'elderberry', 'cherry', 'banana', 'apple'}